/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: black;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    position: absolute;
}

.logo {
    flex: 20%;
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
}

.logo img {
    max-width: 100%;
}

.grupo-topo {
    flex: 80%;
}

.select-idioma {
    padding: 5px 15px;
    float: right;
    margin: 1%;
    background: none;
    color: white;
}

.btn-topo {
    background: red;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    float: right;
    margin: 1% 5% 0 1%;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 80vh;*/
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('img/fundo.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 8px solid rgb(73, 68, 68);
    padding-top: 120px;
    padding-bottom: 120px;
}

.miolo {
    width: 100%;
    margin-top: 5%;
    text-align: center;
    padding: 10px;
}

.miolo h1 {
    color: white;
    font-size: 4rem;
    text-shadow: 1px 1px 5px black;
    padding: 0;
    margin: 0;
}

.miolo h2 {
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 5px black;
    padding: 10px;
    margin: 0;
}

.miolo h3 {
    color: white;
    font-weight: 400;
}

.input-container {
    text-align: center;
}

.input-email {
    width: 450px;
    height: 58px;
    padding: 30px 40px 20px 10px;
    margin-right: 0;
    margin-bottom: 2%;
    border-radius: 5px;
}

.btn-email {
    background: red;
    border: 1px solid red;
    color: white;
    width: 196px;
    height: 56px;
    font-size: 22px;
    padding: 16px;
    margin-left: 0;
    border-radius: 5px;
}

.btn-email:hover {
    cursor: pointer;
    color: white;
    background: rgb(255, 41, 41);
}

section {
    display: flex;
    color: white;
    border-bottom: 8px solid rgb(73, 68, 68);
    margin-bottom: 2%;

}

section img {
    max-width: 100%;
}

section h2 {
    font-size: 3rem;
}

section h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 35px;
}

.text-center {
    text-align: center;
}

.pergunta {
    width: 90%;
    background: rgb(73, 68, 68);
    padding: 15px 0px 15px 25px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}

.resposta {
    display: none;
    width: 90%;
    background: rgb(73, 68, 68);
    padding: 15px 0px 15px 25px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}